name: goreleaser

on: issue_comment

permissions:
  contents: write

jobs:
  tag:
    if: ${{ github.event.issue.pull_request }} && contains(github.event.comment.body, '/release')
    runs-on: ubuntu-latest
    continue-on-error: false
    name: tag commit
    steps:
      - name: Create tag
        uses: actions/github-script@v5
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: ${{ github.event.comment.body }} | awk '{print $2}',
              sha: context.sha
            })
  goreleaser:
    runs-on: ubuntu-latest
    needs: tag
    env:
      DOCKER_CLI_EXPERIMENTAL: "enabled"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --release-notes RELEASE_NOTES.md --rm-dist
        env:
          GITHUB_TOKEN: ${{ github.token }}
